/*region common*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --cv-primary: #ff6900;
   --cv-secondary: #1a1a1a;
}




/*region common*/

/*region header*/

header {
   background-color: var(--cv-primary);
   padding: 10px 0px;

   .container {
      justify-content: space-between;

   }

   img {
      height: 1.5rem;

   }

   a {
      text-decoration: none;
      color: white;
      padding-right: 0.5rem;
      font-size: 0.8rem;
   }

}

/*region header*/

/*region main*/
main {
   .container {
      width: 60%;
      margin: auto;
      justify-content: center;


   }


}

/*region main*/

/*region utilities*/
.d-flex {
   display: flex;
}

.container {
   width: 80%;
   margin: auto;
}

.icon {
   color: white;
   font-size: 0.7rem;
}

.change {
   position: relative;

   .original {
      z-index: 1;
      position: absolute;

      img {
         height: 500px;

      }

   }

   .alternative {
      z-index: 0;
      bottom: 0px;

      img {
         height: 500px;

      }

   }

   .wish {
      z-index: 2;
      background-color: white;
      padding: 0.5rem;
      position: absolute;
      bottom: 465px;
      left: 311px;

   }

   .sales{
      z-index: 2;
      background-color: red;
      color: white;
      padding: 2.5px 5px;
      font-size: 0.8rem;
      position: absolute;
      bottom: 2rem;
   }
   .sostenibility{
      z-index: 2;
      background-color:green;
      color: white;
      padding: 2.5px 8px;
      font-size: 0.8rem;
      position: absolute;
      bottom: 2rem;
      left: 50px;
   }
   .only-sostenibility{
      z-index: 2;
      background-color:green;
      color: white;
      padding: 2.5px 8px;
      font-size: 0.8rem;
      position: absolute;
      bottom: 2rem;
      
   }
}

.shop {
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 0.5rem;
  


}

.price {
   span {
      color: black;
      text-decoration: line-through;
      padding-left: 0.5rem;
   }

}

.red {
   color: red;
}

.shop:hover .original {
   display: none;
}

footer{
   padding: 2rem;
   background-color: var(--cv-secondary);
   .container{
      justify-content: space-between;
      width: 60%;
   }
   
   

}

.info{
   color: white;
   font-size: 0.8rem;
   padding-top: 0.5rem;
   a{
      text-decoration: none;
      color: white;
      
   }
}
.social{
   color: white;
   font-size: 0.8rem;
   padding-top: 1rem;
   .icon > i{
      font-size: 0.8rem;
      background-color: white;
      color: var(--cv-secondary);
      justify-content: space-between;
   }
}