/*region common*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --cv-primary: #ff6900;
   --cv-secondary: #1a1a1a;
}




/*region common*/

/*region header*/

header {
   background-color: var(--cv-primary);
   padding: 10px 0px;

   .container {
      justify-content: space-between;

   }

   img {
      height: 1.5rem;

   }

   a {
      text-decoration: none;
      color: white;
      padding-right: 0.5rem;
      font-size: 0.8rem;
   }

}

/*region header*/

/*region main*/
main {
   .container {
      width: 60%;
      margin: auto;
      justify-content: center;
   

   }
   

}

/*region main*/

/*region utilities*/
.d-flex {
   display: flex;
}

.container {
   width: 80%;
   margin: auto;
}

.icon {
   color: white;
   font-size: 0.7rem;
}

.shop {
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 0.5rem;
   .change{
      position: relative;
   }
   .original {
      img {
         height: 500px;

      }

      
      

   }

   .alternative {
      img {
         height: 500px;

      }

      z-index: 0;
      position: absolute;
      bottom: 0px;
   }
}

.price{
   span{
      color: black;
      text-decoration: line-through;
      padding-left: 0.5rem;
   }
   
}
.red{
   color: red;
}

.alternative:hover img{
      display: none;  
}